.cart-title {
    margin-top: 3.125rem;
    margin-bottom: 3.125rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 1.75rem;
    margin-bottom: 1.75rem;
    color: #484848;
}
