.cart-row {
    border-top: 1px solid $border-grey;
    vertical-align: middle;
    button {
        background-color: transparent;
        color: $black;
        border: none;
    }
    .columns > .cart-v-center {
        padding-top: 86px;
    }
    img {
        max-height: 95px;
    }
}

.cart-checkout-button{
    border: 1px solid $black;
    background: $white;
    box-sizing: border-box;
    border-radius: 3px;
    &:hover {
        background-color: $black;
        color: $white;
        transition: all 0.5s ease;
    }
    strong {
        text-transform: uppercase;
        font-family: Lato;
        font-size: 14px;
        font-style: normal;
        font-weight: 600;
        line-height: 17px;
        letter-spacing: 0em;
        text-align: center;
    }
}