.wrap {
    display: block;
    margin: 0 auto;
    max-width: 40em;
    zoom: 1;
}

.main {
    color: #333333;
}

h1,
.heading-1 {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
    font-size: 1.7142857143em;
    line-height: 1.3em;
}

.total-line th,
.total-line td {
    padding-top: 0.75em;
}
.total-line:first-child th,
.total-line:first-child td {
    padding-top: 0;
}
.total-line__name .reduction-code {
    margin-left: 0.5714285714em;
}
.total-line__name--top-aligned {
    vertical-align: top;
}
.total-line__price {
    padding-left: 1.5em;
    text-align: right;
    white-space: nowrap;
}
.total-line__duties-container {
    position: relative;
    display: inline;
}
.total-line-table__tbody + .total-line-table__tbody .total-line:first-child th,
.total-line-table__tbody + .total-line-table__tbody .total-line:first-child td,
.total-line-table__tbody + .total-line-table__footer .total-line:first-child th,
.total-line-table__tbody + .total-line-table__footer .total-line:first-child td {
    padding-top: 3em;
    position: relative;
}
.total-line-table__tbody + .total-line-table__tbody .total-line:first-child th::before,
.total-line-table__tbody + .total-line-table__tbody .total-line:first-child td::before,
.total-line-table__tbody + .total-line-table__footer .total-line:first-child th::before,
.total-line-table__tbody + .total-line-table__footer .total-line:first-child td::before {
    content: "";
    position: absolute;
    top: 1.5em;
    left: 0;
    width: 100%;
    height: 1px;
}
.sidebar .total-line-table__tbody + .total-line-table__tbody .total-line:first-child th::before,
.sidebar .total-line-table__tbody + .total-line-table__tbody .total-line:first-child td::before,
.sidebar .total-line-table__tbody + .total-line-table__footer .total-line:first-child th::before,
.sidebar .total-line-table__tbody + .total-line-table__footer .total-line:first-child td::before {
    background-color: rgba(175, 175, 175, 0.34);
}

.credit-key-radio {
    margin-top: 20px;
}

input[type="radio"] {
    margin-right: 10px;
}

.product__description {
    text-align: left;
    width: 100%;
}

.product__description__name {
    width: 1em;
    min-width: 100%;
    display: block;
}

.product__price {
    white-space: nowrap;
}

.product-thumbnail {
    width: 4.6em;
    height: 4.6em;
    border-radius: 8px;
    background: #fff;
    position: relative;
}
.product-thumbnail::after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    border-radius: 8px;
    border: 1px rgba(0, 0, 0, 0.1) solid;
    z-index: 2;
}

.product-thumbnail__wrapper {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
    border-radius: 8px;
    z-index: 1;
    padding-bottom: 20px;
}

.product-thumbnail__image {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    max-width: 100%;
    max-height: 100%;
    margin: auto;
}

.product-thumbnail__quantity {
    font-size: 0.8571428571em;
    font-weight: 500;
    line-height: 1.75em;
    white-space: nowrap;
    text-align: center;
    border-radius: 1.75em;
    background-color: rgba(114, 114, 114, 0.9);
    color: #fff;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    min-width: 1.75em;
    height: 1.75em;
    padding: 0 0.5833333333em;
    position: absolute;
    right: -0.75em;
    top: -0.75em;
    z-index: 3;
}

.tr .product td {
    padding-bottom: 20px;
}

.product-table th,
.product-table td {
    padding-top: 0;
    padding-bottom: 0;
}

.product-table td {
    border-color: #d1ecd4;
}

.copyright-text {
    font-size: 0.8571428571em;
    color: #737373;
}

.main__footer {
    padding: 1em 0;
    border-top: 1px solid #e6e6e6;
}

.sidebar .payment-due__price {
    color: #323232;
}

.payment-due-label__total {
    font-size: 1.1428571429em;
}
.sidebar .payment-due-label__total {
    color: #323232;
}

.payment-due-label__taxes {
    display: block;
}
.sidebar .payment-due-label__taxes {
    color: #717171;
}
.payment-due__price {
    font-size: 1.7142857143em;
    font-weight: 500;
    letter-spacing: -0.04em;
    line-height: 1em;
}

.payment-due__currency {
    font-size: 0.8571428571em;
    vertical-align: 0.2em;
    margin-right: 0.5em;
}
.sidebar .payment-due__currency {
    color: #717171;
}


.order-summary--transition {
    -webkit-transition: all 0.3s cubic-bezier(0.3, 0, 0, 1);
    transition: all 0.3s cubic-bezier(0.3, 0, 0, 1);
}
.order-summary__section {
    padding-top: 1.5em;
    padding-bottom: 1.5em;
}
.order-summary__section ~ .order-summary__section {
    border-top: 1px solid rgba(175, 175, 175, 0.34);
}

.order-summary__scroll-indicator {
    background-color: rgba(50, 50, 50, 0.85);
    border-radius: 2em;
    bottom: 1.5em;
    color: #fafafa;
    font-size: 0.8571428571em;
    left: 50%;
    opacity: 0;
    padding: 0.6em 1.2em;
    position: absolute;
    -webkit-transform: translateX(-50%) translateY(100%) rotateZ(360deg);
    transform: translateX(-50%) translateY(100%) rotateZ(360deg);
    -webkit-transition: all 0.3s cubic-bezier(0.3, 0, 0, 1);
    transition: all 0.3s cubic-bezier(0.3, 0, 0, 1);
    white-space: nowrap;
    z-index: 2;
}
.order-summary__section--is-scrollable .order-summary__scroll-indicator {
    opacity: 1;
    -webkit-transform: translateX(-50%) translateY(0) rotateZ(360deg);
    transform: translateX(-50%) translateY(0) rotateZ(360deg);
}
.order-summary__section--has-scroll .order-summary__scroll-indicator {
    -webkit-transform: translateX(-50%) translateY(-100%) rotateZ(360deg);
    transform: translateX(-50%) translateY(-100%) rotateZ(360deg);
}
.order-summary__scroll-indicator .icon-svg {
    margin-left: 0.2142857143em;
    margin-top: -0.2142857143em;
}
.order-summary__emphasis {
    font-weight: 500;
}
.sidebar .order-summary__emphasis {
    color: #323232;
}
.order-summary__small-text {
    font-size: 0.8571428571em;
}
.sidebar .order-summary__small-text {
    color: #717171;
}

.field__input--select {
    padding-right: 2.0714285714em;
    white-space: nowrap;
}
.field__input--select:-moz-focusring {
    color: transparent;
    -moz-transition: color 0ms;
    transition: color 0ms;
}
.main .field__input--select:-moz-focusring {
    text-shadow: 0 0 0 #333333;
}
.sidebar .field__input--select:-moz-focusring {
    text-shadow: 0 0 0 #333333;
}
.default-background .field__input--select:-moz-focusring {
    text-shadow: 0 0 0 #333333;
}

.field__input-wrapper {
    position: relative;
}

.floating-labels .field__input-wrapper--icon-right .field__label {
    padding-right: 2.8571428571rem;
}

.field__input:focus,
.field__input-wrapper--flag-focus .field__input {
    outline: none;
    border-color: #1990c6;
    -webkit-box-shadow: 0 0 0 1px #1990c6;
    box-shadow: 0 0 0 1px #1990c6;
}
.field__input-wrapper--icon-left .field__input {
    padding-left: 2.8571428571rem;
}
.field__input-wrapper--icon-right .field__input {
    padding-right: 2.8571428571rem;
}
.field__input-wrapper--flag-right .field__input {
    padding-right: 4.7142857143rem;
}

.anyflexbox .field__input-btn-wrapper .field__input-wrapper {
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
}

.floating-labels .field__input-wrapper--icon-left .field__label {
    padding-left: 2.8571428571rem;
}

.field__input {
    border: 1px transparent solid;
    background-clip: padding-box;
    border-radius: 5px;
    display: block;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    padding: 0.9285714286em 0.7857142857em;
    word-break: normal;
    line-height: inherit;
}
.main .field__input {
    background-color: white;
    color: #333333;
    border-color: #d9d9d9;
}
.main .field__input::-webkit-input-placeholder {
    color: #737373;
}
.main .field__input:-moz-placeholder {
    color: #737373;
    opacity: 1;
}
.main .field__input::-moz-placeholder {
    color: #737373;
    opacity: 1;
}
.main .field__input:-ms-input-placeholder {
    color: #737373;
}
.sidebar .field__input {
    background-color: white;
    color: #333333;
    border-color: #d5d5d5;
}
.sidebar .field__input::-webkit-input-placeholder {
    color: #737373;
}
.sidebar .field__input:-moz-placeholder {
    color: #737373;
    opacity: 1;
}
.sidebar .field__input::-moz-placeholder {
    color: #737373;
    opacity: 1;
}
.sidebar .field__input:-ms-input-placeholder {
    color: #737373;
}
.default-background .field__input {
    background-color: white;
    color: #333333;
    border-color: #d9d9d9;
}
.default-background .field__input::-webkit-input-placeholder {
    color: #737373;
}
.default-background .field__input:-moz-placeholder {
    color: #737373;
    opacity: 1;
}
.default-background .field__input::-moz-placeholder {
    color: #737373;
    opacity: 1;
}
.default-background .field__input:-ms-input-placeholder {
    color: #737373;
}
.animate-floating-labels .field__input {
    -webkit-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
}
.floating-labels .field--show-floating-label .field__input {
    padding-top: 1.5em;
    padding-bottom: 0.3571428571em;
}
.floating-labels .field--show-floating-label .field__input::-webkit-input-placeholder {
    color: transparent;
}
.floating-labels .field--show-floating-label .field__input:-moz-placeholder {
    color: transparent;
    opacity: 1;
}
.floating-labels .field--show-floating-label .field__input::-moz-placeholder {
    color: transparent;
    opacity: 1;
}
.floating-labels .field--show-floating-label .field__input:-ms-input-placeholder {
    color: transparent;
}

.field__input[data-expanding] {
    height: 2.8571428571rem;
    resize: none;
    overflow: hidden;
    -webkit-transition: none;
    transition: none;
}

.field__input--iframe-container {
    border-color: #fafafa;
    min-height: 3.1428571429em;
    overflow: hidden;
    padding: 0;
    position: relative;
}
.floating-labels .field--show-floating-label .field__input--iframe-container {
    padding-bottom: 0;
    padding-top: 0;
}
.field__input--iframe-container::after,
.field__input--iframe-container::before {
    content: "";
    height: 100%;
    left: 0;
    pointer-events: none;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1;
}
.field__input--iframe-container::before {
    background: #e6e6e6;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    -webkit-transition: all 0.6s ease-out;
    transition: all 0.6s ease-out;
    width: 100%;
}
.field__input--iframe-container::after {
    -webkit-animation: load 1s infinite ease-in-out both;
    animation: load 1s infinite ease-in-out both;
    background: #fafafa;
    border-radius: 8px;
    height: 1em;
    margin-top: -0.5em;
    top: 50%;
    -webkit-transition: all 0.15s ease-out;
    transition: all 0.15s ease-out;
}

.field__input--zip {
    text-transform: uppercase;
}
.field__input--zip::-webkit-input-placeholder {
    text-transform: none;
}
.field__input--zip:-moz-placeholder {
    text-transform: none;
    opacity: 1;
}
.field__input--zip::-moz-placeholder {
    text-transform: none;
    opacity: 1;
}
.field__input--zip:-ms-input-placeholder {
    text-transform: none;
}

.field__label {
    text-align: left;
    font-weight: 500;
    margin: 0.5em 0;
    display: none;
}
.main .field__label {
    color: #333333;
}

.field__label--visible {
    display: block;
}

.icon-svg {
    display: inline-block;
    vertical-align: middle;
    fill: currentColor;
}

.icon-svg--color-accent {
    color: #1990c6;
    fill: currentColor;
}

.icon-svg--size-10 {
    width: 10px;
    height: 10px;
}

.previous-link__icon {
    -webkit-transition: all 0.2s cubic-bezier(0.3, 0, 0, 1);
    transition: all 0.2s cubic-bezier(0.3, 0, 0, 1);
    margin-right: 0.25em;
}

@media (-ms-high-contrast: active) {
    .field__input:focus,
    .field__input-wrapper--flag-focus .field__input {
        background-color: highlight;
    }
}

@media (max-width: 749px) {
    .main {
        padding-top: 1.5em;
    }
    .main__content {
        padding-bottom: 1.5em;
    }
    .step__footer__previous-link,
    .step__footer__info {
        padding-top: 1.5em;
        text-align: center;
    }
    .fieldset--inline {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
    }
    .hide-on-mobile {
        display: none;
    }
}

@media (min-width: 750px) {
    .os-header__hanging-icon {
        position: absolute;
        right: 100%;
        top: 50%;
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
        margin-right: 1.5em;
    }
    .section--page-title {
        margin-top: 1em;
    }
    .section__hanging-icon {
        position: absolute;
        right: 100%;
        top: -0.4em;
        margin-right: 1.5em;
    }
    .os-header {
        margin: 0 0 -0.5em;
    }
    .shown-on-mobile {
        display: none;
    }
    .icon--free-tag {
        width: 152px;
        height: 80px;
        background-image: url(//cdn.shopify.com/s/assets/checkout/free-tag-7f67656b22b150cbbd85a9edf668d6aa2b6b9dd4a0d4f0ebea50fc09b57302a7.png);
        background-image: url(//cdn.shopify.com/s/assets/checkout/free-tag-c2dd504ac09e85e0958c656eb3b00e9bedc4fbaeaaa6031c81b045674cc6b7eb.svg), none;
    }
    .show-on-mobile {
        display: none;
    }
    h1,
    .heading-1 {
        font-size: 2em;
    }
    .modal {
        border-radius: 8px;
        margin: 4em auto 5%;
        max-width: 60em;
        min-height: initial;
        width: 90%;
    }
    .modal__header {
        padding: 1.5em 2.5em;
    }
    .modal__content {
        padding: 2.5em;
    }
    .modal__content p {
        font-size: 1.1428571429em;
    }
 

    .section__footer {
            margin-top: 1.5em;
        }
    .floating-labels .address-fields {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }
    .floating-labels .field--third {
        width: 33.3333333333%;
    }
    .floating-labels .field--two-thirds {
        width: 66.6666666667%;
    }
    .floating-labels .field--half {
        width: 50%;
    }
    .floating-labels .field--three-eights {
        width: 37.5%;
    }
    .floating-labels .field--quarter {
        width: 25%;
    }
    .section__header {
        margin-bottom: 1.5em;
    }
    .section__content__column--half {
        padding: 0 0.75em;
        width: 50%;
    }
    .section__content__column--half:first-child {
        padding-left: 0;
    }
    .section__content__column--half:last-child {
        padding-right: 0;
    }
    .section__content__column {
        margin-top: 0;
        float: left;
    }
    .step__footer__continue-btn {
        float: right;
    }
    .anyflexbox .step__footer {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: reverse;
        -webkit-flex-direction: row-reverse;
        -ms-flex-direction: row-reverse;
        flex-direction: row-reverse;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: justify;
        -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
        justify-content: space-between;
    }
    .anyflexbox .step__footer__previous-link,
    .anyflexbox .step__footer__info {
        margin-right: 1em;
    }
    .section--express-checkout-selection-group-test .section--express-checkout-selection {
        padding-top: 3em !important;
        display: block;
    }
    .section--express-checkout-selection-group-test .section--contact-information {
        display: table-header-group;
    }
    .main {
        padding-top: 1.5em;
    }
    .main__content {
        padding-bottom: 4em;
    }
    .step__footer__previous-link,
    .step__footer__info {
        float: left;
    }
    .step__footer {
        margin-top: 1.5em;
        padding-left: 30px;
    }
}

@media (max-width: 999px) {
    .wrap {
        width: 100%;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        padding: 0 1em;
    }
    .quirks-fix--ios-instagram {
        height: auto;
        min-height: 100%;
        padding-bottom: 250px;
    }
    .order-summary--transition,
    .order-summary--is-collapsed {
        overflow: hidden;
    }
    .shown-on-desktop {
        display: none;
    }
    .section__hanging-icon {
        position: absolute;
        right: 100%;
        top: -0.4em;
        margin-right: 1.5em;
    }
    .section--page-title {
        margin-top: 1em;
    }
    .os-header__hanging-icon {
        position: absolute;
        right: 100%;
        top: 50%;
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
        margin-right: 1.5em;
    }
    .step__footer__continue-btn-text {
        text-align: center;
    }
    .banner {
        display: block;
    }
    .breadcrumb {
        padding-bottom: 1.5em;
    }
}

@media (min-width: 1000px) {
    .page--banner .banner {
        padding-top: 6em;
        padding-bottom: 2em;
    }
    .page--no-banner .main,
    .page--no-banner .sidebar {
        padding-top: 4em;
    }
    .page--banner .main,
    .page--banner .sidebar {
        padding-top: 2em;
    }
    .sidebar__logo {
        margin-bottom: 2em;
    }
    .page--logo-main .breadcrumb {
        margin-top: 1em;
    }
    .anyflexbox .content .wrap {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -webkit-flex-direction: row;
        -ms-flex-direction: row;
        flex-direction: row;
    }
    .page--logo-sidebar .sidebar__header {
        display: block;
    }
    .sidebar::after {
        left: 0;
        background-position: left top;
        -webkit-box-shadow: 1px 0 0 #e1e1e1 inset;
        box-shadow: 1px 0 0 #e1e1e1 inset;
    }

    .wrap {
        padding: 0 5%;
        width: 90%;
        max-width: 78.5714285714em;
    }
    .page--logo-main .main .logo {
        display: block;
    }
    .step__sections + form {
        padding-top: 0;
    }
    .logo__image--small {
        max-height: 2.8571428571em;
    }
    .logo__image--medium {
        max-height: 4.2857142857em;
    }
    .logo__image--large {
        max-height: 5.7142857143em;
    }
    .order-summary__section {
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 auto;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
    }
    .order-summary__section:first-child {
        padding-top: 0;
    }
    .order-summary__sections {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        height: calc(100vh - 8em);
        width: 100%;
    }
    .order-summary__section--product-list {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-flex: 0;
        -webkit-flex: 0 1 auto;
        -ms-flex: 0 1 auto;
        flex: 0 1 auto;
        min-height: 7em;
        overflow: hidden;
        padding: 0;
        position: relative;
    }
    .order-summary__section--product-list + .order-summary__section {
        border: 0;
    }
    .order-summary__section--product-list::before,
    .order-summary__section--product-list::after {
        content: "";
        display: block;
        height: 1px;
        left: 0;
        position: absolute;
        -webkit-transition: background-color 0.3s cubic-bezier(0.3, 0, 0, 1);
        transition: background-color 0.3s cubic-bezier(0.3, 0, 0, 1);
        width: 100%;
        z-index: 4;
    }
    .order-summary__section--product-list::before {
        background-color: transparent;
        top: 0;
    }
    .order-summary__section--product-list::after {
        background-color: rgba(175, 175, 175, 0.34);
        bottom: 0;
    }
    .order-summary__section--product-list .product-table {
        margin-top: 0.75em;
        margin-bottom: 1.5em;
        position: relative;
        z-index: 1;
    }
    .order-summary__section--has-scroll::before {
        background-color: rgba(175, 175, 175, 0.34);
    }
    .order-summary__section__content {
        min-width: 100%;
        overflow-y: auto;
        -webkit-overflow-scrolling: touch;
    }
}

@media (min-width: 1300px) {
    .section__hanging-icon {
        position: absolute;
        right: 100%;
        top: -0.4em;
        margin-right: 1.5em;
    }
    .os-header__hanging-icon {
        position: absolute;
        right: 100%;
        top: 50%;
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
        margin-right: 1.5em;
    }
}
