footer {
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: $black;
    h3, p, ul li {
        color: $white;
        opacity: 80%;
    }
    h3 {
        font-size: 16px;;
    }
    p {
        font-size: 14px;
    }
    ul li { 
        font-size: 14px;
    }
}