.atlas-logo {
    height: 40px;
    width: 182px;
    margin-top: 10px;
}

.search {
    width: 100%;
}

.divider {
    margin-top: 10px;
    margin-bottom: 30px;
    border-bottom: 1px solid grey;
}

.card-image {
    position: relative;
    padding-top: 12px;
}

.grid-amount-saved {
    position: absolute;
    bottom: 0px;
    left: 15px;
    padding: 5px;
}

.grid-company {
    margin-top: -10px;
}

.grid-original-price {
    text-decoration: line-through;
    position: relative;
    bottom: -15px;
}

.pdp-company {
    margin-top: -20px;
    margin-bottom: 10px;
}

.pdp-price {
    font-size: 1.4em;
}

.pdp-add-to-cart {
    margin-top: 20px;
    margin-bottom: 20px;
}

.pdp-description {
    margin-top: 20px;
}

.pdp-share li {
    display: inline;
    padding-right: 5px;
}

.pdp-share .tag {
    color: white;
}

.pdp-share .facebook {
    background: #3E5C9A;
}

.pdp-share .twitter {
    background: #55ACEE;
}

.pdp-share .linkedin {
    background: #2867B2;
}

.pdp-share .pinterest {
    background: #bd1c1c;
}

.pdp-gallery-thumbnails img {
    width: 70px;
    margin-left: 10px;
}

.pdp-ck-display {
    margin: 20px 0px;
}

.cart-row {
    border-top: 1px solid rgb(221, 220, 220);
}

.cart-row > .columns > .cart-v-center {
    padding-top: 86px;
}

.cart-checkout-button {
    min-width: 250px;
}